<header id="header" class="navbar">
    <ul class="nav navbar-nav navbar-avatar pull-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="thumb-small avatar inline"><img src="/res/images/avatar.jpg" class="img-circle"></span>
                <b class="caret hidden-sm-only"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a nores="true" data-src="/Home/Pwd" title="修改密码">修改密码</a></li>
                <li><a nores="true" href="/Home/Logout">退出登陆</a></li>
            </ul>
        </li>
    </ul>
    <a class="navbar-brand" href="/">Sys</a>
    <button type="button" class="btn btn-link pull-left nav-toggle hidden-lg" data-toggle="class:slide-nav slide-nav-left" data-target="body">
        <i class="icon-reorder icon-xlarge text-default"></i>
    </button>
</header>