
<nav id="nav" class="nav-primary visible-lg nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
        <li class="dropdown-submenu">
            <a resmenu href="#"><i class="icon-list icon-xlarge"></i>基础管理</a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Content("~/User")">用户管理</a></li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a resmenu href="#"><i class="icon-list icon-xlarge"></i>日志管理</a>
            <ul class="dropdown-menu">
                <li><a href="@Url.Content("~/User")">登入日志</a></li>
                <li><a href="@Url.Content("~/User")">操作日志</a></li>
            </ul>
        </li>
    </ul>
</nav>