@model UserSearch
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">用户管理</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="DoList" asp-controller="User" data-ajax="true" data-ajax-update="#list" data-ajax-mode="replace" data-ajax-method="post">
                            <div class="row col-12">
                                <div class="mb-2 row">
                                    <label for="singledaterange" class="col-sm-1 col-form-label col-form-label-sm">创建时间</label>
                                    <div class="col-sm-2">
                                        <input type="text" id="singledaterange" class="form-control date" data-toggle="date-picker" data-cancel-class="btn-warning">
                                    </div>
                                </div>
                                <div class="mb-2 row">
                                    <label for="inputState" class="col-sm-1 col-form-label">状态</label>
                                    <div class="col-sm-2">
                                        <select id="inputState" class="form-select">
                                            <option>Option 1</option>
                                            <option>Option 2</option>
                                            <option>Option 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3 col-md-12">
                                    <div class="input-group">
                                        <input asp-for="@Model.Keyword" class="form-control" placeholder="用户名">
                                        <span class="input-group-append">
                                            <button type="submit" class="btn btn-primary rounded-start-0"><i class="ri-search-line fs-16"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="list" class="row">
            @Html.Action("DoList", Model)
        </div>
    </div>
</div>


