@model UserSearch

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">用户管理</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <form asp-action="DoList" id="searchForm" asp-controller="User" data-ajax="true" data-ajax-update="#divlist" data-ajax-mode="replace" data-ajax-method="post">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input asp-for="@Model.Keyword" class="form-control" placeholder="用户名">
                                        <span class="input-group-append">
                                            <button type="submit" class="btn btn-primary rounded-start-0"><i class="ri-search-line fs-16"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="divlist" class="row">
            @Html.Action("DoList", Model)
        </div>
    </div>
</div>


